opencv-python==4.5.5.64
torch==1.13.1
torchvision==0.14.1
torchaudio==0.13.1
tensorflow==2.12.0
scikit-learn==1.2.2
matplotlib==3.7.1
seaborn==0.12.2 
numpy==1.23.5
pandas==1.5.3
tqdm==4.66.3
mtcnn==0.1.1
facenet-pytorch==2.5.3
streamlit==1.22.0
Pillow==8.4.0